<%- include('./partials/header') %>
<div class="container card">
    <div class="row mb-3">
        <label for="ID" class="col-sm-2 col-form-label"><input type="checkbox" name="idCheck"> ID</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="ID" name="id">
        </div>
      </div>
</div>
<%- include('./partials/footer') %>